<div class="row" style="background:#049fd9; padding: 20px">
  <div class="col-md-1">
    <div class="panel panel--blue">
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel--raised-medium">
      <div>Amazon</div>

    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel--raised-medium">
      <div>Apple</div>

    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel--raised-medium">
      <div>Paypal</div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel--raised-medium">
      <div>Microsoft's</div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel--raised-medium">
      <div>TATA</div>
    </div>
  </div>
  <div class="col-md-1">
    <div class="panel panel--blue">
    </div>
  </div>
</div>
